*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principale{
  width: 1200px;
  margin: 0 auto; 
}

.primo{
    width: 1200px;
    height: 200px;
    margin: 0 auto; 
    background-color:rgb(255, 88, 116);
    margin-top: 20px;
  }

  .secondo{
    width: 1200px;
    height: 400px;
    margin: 0 auto; 
    background-color:rgb(191, 255, 88);
    margin-top: 20px;
  }

  .terzo{
    width: 1200px;
    height: 400px;
    margin: 0 auto; 
    background-color:rgb(88, 236, 255);
    margin-top: 20px;
    
  }

  .quarto{
    width: 1200px;
    height: 100px;
    margin: 0 auto; 
    background-color:rgb(160, 2, 99);
    margin-top: 20px;
    margin-bottom: 20px;
  }
